@using AllThingsDelivered.Models
@model ChangePassword
@{
    ViewBag.Title = "ChangePassword";
}
@if(ViewBag.Success != null)
{
    <div class="alert alert-success">
        @ViewBag.Success
    </div>
}
@if (ViewBag.Errors != null)
{
    <div class="alert alert-danger">
        @foreach(string error in ViewBag.Errors)
        {
            @error<br />
        }
    </div>
}

<a href="/profile/index">Edit Profile</a> | <a href="/profile/addresses">Addresses</a> | <a href="/profile/payment">Payment Info</a> | <a href="/profile/changepassword">Change Your Password</a>
<br /><br />

<h2>ChangePassword</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.oldPassword, new { @class = "control-label" })
        @Html.PasswordFor(m => m.oldPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.oldPassword)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.password1, new { @class = "control-label" })
        @Html.PasswordFor(m => m.password1, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.password1)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.password2, new { @class = "control-label" })
        @Html.PasswordFor(m => m.password2, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.password2)
    </div>

    <input type="submit" value="Reset Password" />
}