@using AllThingsDelivered.Models
@model EditInfo
@{
    ViewBag.Title = "Index";
}
@if (ViewBag.Success != null)
{
    <div class="alert alert-success">
        @ViewBag.Success
    </div>
}
@if (ViewBag.error != null)
{
    <div class="alert alert-danger">
        @ViewBag.error
    </div>
}
<a href="/profile/index">Edit Profile</a> | <a href="/profile/addresses">Addresses</a> | <a href="/profile/payment">Payment Info</a> | <a href="/profile/changepassword">Change Your Password</a>
<br /><br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.firstname, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.firstname, new { @class = "form-control", @Value = Model.customer.FirstName })
        @Html.ValidationMessageFor(m => m.firstname)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.lastname, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.lastname, new { @class = "form-control", @Value = Model.customer.LastName })
        @Html.ValidationMessageFor(m => m.lastname)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.phone, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.phone, new { @class = "form-control", @Value = Model.customer.PhoneNumber })
        @Html.ValidationMessageFor(m => m.phone)
    </div>
    <input type="submit" />
}