@using AllThingsDelivered.Models
@model EditInfo
@{
    ViewBag.Title = "Index";
}
@if (ViewBag.Success != null)
{
    <div class="alert alert-success">
        @ViewBag.Success
    </div>
}
@if (ViewBag.error != null)
{
    <div class="alert alert-danger">
        @ViewBag.error
    </div>
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.firstname, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.firstname, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.firstname)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.lastname, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.lastname, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.lastname)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.phone, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.phone)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.email, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.email)
    </div>
    <input type="submit" />
}
<br /><br />
Default Address:<br />
@foreach (CustomerAddress address in (Model.customer.CustomerAddresses.Where(x => x.DefaultAddr)))
{
    @address.Address.Line1<br />
    @address.Address.Line2<br />
    @address.Address.City<br />
    @address.Address.State<br />
    @address.Address.ZipCode<br />
    @address.Address.Country
}
<br /><br />
Other Addresses:<br />
@foreach (CustomerAddress address in (Model.customer.CustomerAddresses.Where(x => !x.DefaultAddr)))
{
    @address.Address.Line1<br />
    @address.Address.Line2<br />
    @address.Address.City<br />
    @address.Address.State<br />
    @address.Address.ZipCode<br />
    @address.Address.Country
    <a href="/Profile/DefaultAddress">Make this my default address</a>
    <a href="/Profile/DeleteAddress">Delete this address</a>
    <br /><br />
}
Add a new address:
<form method="post" action="/Profile/AddAddress">
    @Html.AntiForgeryToken()
    Line 1<br />
    <input type="text" name="line1" /><br />
    Line 2<br />
    <input type="text" name="line2" /><br />
    City<br />
    <input type="text" name="city" /><br />
    State 
    @*dropdown with all states name=state*@
    zipcode<br />
    <input type="text" name="zipcode" /><br />
    Country<br />
    @*dropdown with all countries name=country*@
    <input type="submit" />
</form>