@model AllThingsDelivered.Models.Cart
@{
    ViewBag.Title = "Index";
}

@if (Model.customCartContent.Count() > 0)
{
    <h3>Custom Items</h3>
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>Item Location</th>
            <th>Item Description</th>
            <th>Delete</th>
        </tr>
        @foreach (AllThingsDelivered.Models.CustomCartContent customCartContent in Model.customCartContent)
        {
            <tr>
                <td>
                    @if (customCartContent.ItemLocation != null)
                    {
                        @customCartContent.ItemLocation
                    }
                </td>
                <td>@customCartContent.Content</td>
                <td>
                    <form method="post" action="/cart">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@customCartContent.CustomCartContentsID" />
                        <input type="hidden" name="type" value="CustomCartContent" />
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        }
    </table>
}

@if (Model.cartContent.Count() > 0)
{
    <h3>Restaurant Items</h3>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Item Name</th>
            <th>Item Description</th>
            <th>Quantity</th>
            <th>Price Per</th>
            <th>Customize</th>
            <th>Delete</th>
        </tr>
        @foreach (AllThingsDelivered.Models.CartContent cartContent in Model.cartContent)
        {

            <tr>
                <td>@cartContent.ItemName</td>
                <td>@cartContent.ItemDescription</td>
                <td>@cartContent.Quantity</td>
                <td>@cartContent.Price</td>
                <td>
                    @if (cartContent.Customize != null)
                    {
                        @cartContent.Customize
                    }
                </td>
                <td>
                    <form method="post" action="/cart">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="id" value="@cartContent.CartContentID" />
                        <input type="hidden" name="type" value="CartContent" />
                        <input type="submit" value="Delete" />
                    </form>
                </td>
            </tr>
        }
        <tr>
            <td colspan="4"></td>
            <td>SubTotal</td>
            <td>@Model.cartContent.Select(x=>(x.Quantity*x.Price)).Sum()</td>
        </tr>
    </table>
}


@if (Model.customCartContent.Count() > 0 || Model.cartContent.Count() > 0)
{
    <div class="pull-right">
        <form method="post" action="/Checkout">
            @Html.AntiForgeryToken()
            <input type="hidden" name="orderprice" value="@Model.cartContent.Select(x=>(x.Quantity*x.Price)).Sum()" />
            <input type="submit" value="Check Out" />
        </form>
    </div>
}
else {
    <h2>Cart Is Empty</h2>
}