<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - All Things Delivered</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div class="main container-fluid">
    <div class="row topNav">
        <div class="col-sm-offset-2 col-sm-2">
            <a class="bigLink" href="/Home">All Things Delivered</a>
        </div>
        <div class="col-sm-1">
            <a href="/Home">Home</a>
        </div>
        <div class="col-sm-1">
            <a href="/Home/About">About</a>
        </div>
        <div class="col-sm-1">
            <a href="/Order">Order</a>
        </div>
        <div class="col-sm-3 text-right">
            @if (User.Identity.IsAuthenticated)
            {
                <text>
                    Welcome, @User.Identity.Name<br />
                    <a href="/Cart">View Cart</a> | <a href="/Profile">Profile</a> | <a href="/Account/SignOut">Sign Out</a>
                </text>
            }
            else
            {
                <text>
                    Welcome, Guest | @Html.ActionLink("Register", "Register", "Account") | @Html.ActionLink("Log On", "SignIn", "Account")
                </text>
            }
        </div>
    </div>
    <div class="row content">
        <div class="col-sm-offset-2 col-sm-8">
            @RenderBody()
        </div>
    </div>
    <div class="row botNav">
        <div class="col-sm-offset-2 col-sm-8">
            Copyright 2017 All Things Delivered
        </div>
    </div>
</div>

        

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
